<%= @trip.name %>'s Show Page

<% @trip.trails.each do |trail| %>
  <section class="trails-<%= trail.id %>">
    <%= trail.name %>
    <%= trail.address %>
    <%= trail.length %>
  </section>
<% end %>

Total Trip Distance: <%= @trip.trails.total_distance %>
