<%= @trail.name %>'s Show Page

<%= @trail.address %>

<% @trail.trips.each do |trip| %>
<section class="trips-<%= trip.id %>">
  <%= trip.name %>
  Total Length: <%= trip.trails.total_distance %>
</section>
<% end %>

Included in <%= @trail.trips.count %> Hiking Trips
